@CHARSET "ISO-8859-1";

html 
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #a7a09a;
}

#wrap 
{
	width: 1024px;
	margin: 0 auto;
	background: #99c;
}

#header
{
	padding: 5px 10px;
	background: #443266;
}

h1 
{
	margin: 0;
}

.ribbon
{
   	background: url('../imgs/ribbon.png') no-repeat scroll left top transparent;
    background-color: transparent;
    background-image: url('../imgs/ribbon.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 1024px;
    background-width: 100px;
   	width: 1024px;
   	height: 42px;
   	margin: 22px 0px 22px -16px;
    margin-top: 22px;
    margin-right-value: 0px;
    margin-bottom: 22px;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
	margin-right-rtl-source: physical;
}


#nav 
{
	padding: 5px 10px;
	background: #c99;
}

#nav ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li 
{
	display: inline;
	margin: 0;
	padding: 10px;
}

#main 
{
	float: left;
	width: 784px;
	padding: 10px;
	background: #9c9;
}

h2 
{
	margin: 0 0 1em;
}

#sidebar 
{
	float: left;
	width: 200px;
	padding: 10px;
	background: #99c;
}

#footer 
{
	clear: both;
	padding: 5px 10px;
	background: #cc9;
}

#footer p 
{
	margin: 0;
}

* html #footer 
{
	height: 1px;
}
